@charset "UTF-8";

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../../assets/fonts/opensans/OpenSans-Regular.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: url("../../assets/fonts/opensans/OpenSans-Semibold.woff") format("woff");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: url("../../assets/fonts/opensans/OpenSans-Bold.woff") format("woff");
}
