@charset "UTF-8";

@use "sass:map";
@use "sass:list";

@mixin sr-only {
	position: absolute;
	inline-size: 1px;
	block-size: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

@mixin focus-outline($type: "border") {
	@if ($type == "border") {
		outline: 1px solid var(--focus);

		@media screen and (prefers-contrast) {
			outline-style: dotted;
		}
	}

	@if ($type == "blurred") {
		outline: 1px solid transparent;
		box-shadow: 0 0 0 3px var(--focus);
	}

	@if ($type == "outline") {
		outline: 2px solid var(--focus);
		outline-offset: -2px;

		@media screen and (prefers-contrast) {
			outline-style: dotted;
		}
	}

	@if ($type == "outline-compat") {
		box-sizing: border-box;
		border: 2px solid var(--focus);

		@media screen and (prefers-contrast) {
			border-style: dotted;
		}
	}

	@if ($type == "reset") {
		outline: 2px solid transparent;
		outline-offset: -2px;
	}
}
