@charset "UTF-8";

@mixin border-box($value: null) {
	/* stylelint-disable-next-line scss/at-if-no-null */
	@if not & and $value == null {
		*,
		*::before,
		*::after {
			box-sizing: border-box;
		}
	} @else if & and $value == "only" {
		&,
		&::before,
		&::after {
			box-sizing: border-box;
		}
	} @else if & and $value == null {
		&,
		&::before,
		&::after,
		*,
		*::before,
		*::after {
			box-sizing: border-box;
		}
	}
}
