@charset "UTF-8";

@keyframes progress {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(400%);
	}
}

@keyframes blink {
	100% {
		opacity: 0%;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0%;
	}

	100% {
		opacity: 100%;
	}
}

@keyframes fade-out {
	0% {
		opacity: 100%;
	}

	100% {
		opacity: 0%;
	}
}

@keyframes rotation {
	0% {
		transform: "rotate(0deg)";
	}

	100% {
		transform: "rotate(360deg)";
	}
}
