@charset "UTF-8";

@keyframes print {
	0% {
		inline-size: 0;
	}

	1% {
		opacity: 100%;
	}

	100% {
		inline-size: 100%;
	}
}

@keyframes progress {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(400%);
	}
}

@keyframes blink {
	100% {
		opacity: 0%;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0%;
	}

	100% {
		opacity: 100%;
	}
}

@keyframes fade-out {
	0% {
		opacity: 100%;
	}

	100% {
		opacity: 0%;
	}
}

@keyframes rotation {
	0% {
		transform: "rotate(0deg)";
	}

	100% {
		transform: "rotate(360deg)";
	}
}

@keyframes collapsible-slide-down {
	0% {
		height: 0;
	}

	100% {
		height: var(--kb-collapsible-content-height);
	}
}

@keyframes collapsible-slide-up {
	0% {
		height: var(--kb-collapsible-content-height);
	}

	100% {
		height: 0;
	}
}

@keyframes dropdown-content-show {
	0% {
		opacity: 0%;
		transform: translateY(-8px);
	}

	100% {
		opacity: 100%;
		transform: translateY(0);
	}
}

@keyframes dropdown-content-hide {
	0% {
		opacity: 100%;
		transform: translateY(0);
	}

	100% {
		opacity: 0%;
		transform: translateY(-8px);
	}
}
