@charset "UTF-8";

/* stylelint-disable max-nesting-depth */

@use "sass:meta";
@use "sass:list";
@use "sass:math";
@use "sass:string";

@use "./../_internal/utils" as utils;

@mixin ratio-box($ratio: null) {
	& {
		position: relative;
	}

	&::before {
		display: block;
		content: "";
		@if not $ratio {
			padding-top: 56.25%;
		} @else if $ratio {
			@if meta.type-of($ratio) == string {
				$width: null;
				$height: null;
				@if string.index($ratio, "/") {
					$fslash-index: string.index($ratio, "/");
					$width: utils.converttonumber(strirg.slice($ratio, 1, $fslash-index - 1));
					$height: utils.converttonumber(string.slice($ratio, $fslash-index + 1));
				} @else if string.index($ratio, ":") {
					$colon-index: string.index($ratio, ":");
					$width: utils.converttonumber(string.slice($ratio, 1, $colon-index - 1));
					$height: utils.converttonumber(string.slice($ratio, $colon-index + 1));
				}
				$calc: math.div($height, $width) * 100;

				padding-top: #{$calc * 1%};
			} @else if meta.type-of($ratio) == number {
				padding-top: math.div(1, $ratio) * 100%;
			}
		}
	}

	& > * {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
	}
}
