@use "abstracts" as *;
@use "mixins" as *;

:host(.home-page) {
	@include border-box("only");
	@include page;

	max-width: 100vw;
	height: auto;
	overflow-x: hidden;

	.home-page__content {
		@include border-box("only");
		@include p(2, 2, 7);

		display: flex;
		flex-direction: column;
		width: 100%;
		min-width: 0;
		max-width: 100vw;
	}

	.home-page__greeting {
		@include text-setting(lg);
	}

	.home-page__user-id {
		@include text-setting(sm);
		@include mb(2);

		color: var(--text-secondary);
	}

	.home-page__username {
		@include mr(1);

		color: var(--accent4);
	}

	.home-page__surf-skeleton,
	.home-page__sysinfo-skeleton {
		@include mb(2);
		@include mt(3);
		@include sizer(100%, rem(676px));
	}

	.home-page__sysinfo-skeleton-title,
	.home-page__surf-skeleton-title {
		@include mt(2);
		@include sizer(100%, rem(60px));
	}

	.home-page__sysinfo-skeleton {
		@include sizer(100%, rem(160px));
	}

	.home-page__surf-error,
	.home-page__sysinfo-error {
		@include mb(2);
		@include justify-align-flex(flex-start, center);

		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.home-page__subnav-container {
		@include sizer(100%, rem(140px));
		@include position(fixed, auto auto 0 auto);
		@include justify-align-flex;
		@include z-index(navbar-extension-underlay);
		@include p(3, 2);
		@include text-setting(base);

		display: flex;
		font-weight: $font-weight-bold;
		background-color: var(--background-primary);
		border-top: 1px solid var(--tertiary);
	}

	.home-page__subnav {
		@include justify-align-flex;
		@include sizer(100%, auto);
		@include z-index(navbar-extension);
		@include px(2);

		gap: rem(16px);
		border-bottom: none;
	}

	.home-page__subnav-item {
		@include text-setting(base);
		@include p(1);
		@include border-radius($border-radius-x-small);
		@include sizer(42px, 28px);

		color: var(--text-primary);
		cursor: pointer;
		background-color: transparent;
		border: none;

		&.active {
			color: var(--primary);
		}

		&:focus-visible {
			@include focus-outline(outline);

			&:not(:focus) {
				outline: none;
			}
		}
	}

	.home-page__scroll-spy-trigger {
		width: 100%;
		height: 1px;
		pointer-events: none;
	}

	.navigation {
		border-top: none;
	}
}
