<header app-layout-header title="Home"></header>
<div class="home-page__content">
	<h1 class="home-page__greeting">
		<span>👋 Hello, </span>
		<span class="home-page__username">{{ user()?.username || "" }}</span>
		<span>!</span>
	</h1>
	@if (user()?.id) {
		<p class="home-page__user-id">[{{ user()?.id }}]</p>
	}
	@switch (surfService.status()) {
		@case ("loading") {
			<div app-skeleton class="home-page__surf-skeleton-title"></div>
			<div app-skeleton class="home-page__surf-skeleton"></div>
		}
		@case ("error") {
			<div class="home-page__surf-error">
				<p>Failed to load surf report.</p>
				<button app-button (click)="surfService.querySurfReport()">Reload</button>
			</div>
		}
		@case ("success") {
			<div
				class="home-page__scroll-spy-trigger"
				id="home-page-surf-forecast-section"
				[appScrollSpyTarget]="'home-page-surf-forecast-section'"></div>
			<div app-surf-forecast></div>
		}
	}
	@switch (recurrentService.status()) {
		@case ("loading") {
			<div app-skeleton class="home-page__sysinfo-skeleton-title"></div>
			<div app-skeleton class="home-page__sysinfo-skeleton"></div>
		}
		@case ("error") {
			<div class="home-page__sysinfo-error">
				<p>Failed to load recurrent payments.</p>
				<button app-button (click)="recurrentService.queryRecurrent()">Reload</button>
			</div>
		}
		@case ("success") {
			<div
				class="home-page__scroll-spy-trigger"
				id="home-page-recurrent-payments-section-payments"
				[appScrollSpyTarget]="'home-page-recurrent-payments-section-payments'"></div>
			<div
				app-recurrent
				[dashboard]="recurrentService.dashboards()?.expenses ?? null"
				title="💸 Recurrent Payments"></div>
			<div
				class="home-page__scroll-spy-trigger"
				id="home-page-recurrent-payments-section-incomes"
				[appScrollSpyTarget]="'home-page-recurrent-payments-section-incomes'"></div>
			<div
				app-recurrent
				[dashboard]="recurrentService.dashboards()?.incomes ?? null"
				title="💰 Recurrent Incomes"></div>
		}
	}
	@switch (sysInfoService.status()) {
		@case ("loading") {
			<div app-skeleton class="home-page__sysinfo-skeleton-title"></div>
			<div app-skeleton class="home-page__sysinfo-skeleton"></div>
		}
		@case ("error") {
			<div class="home-page__sysinfo-error">
				<p>Failed to load sysinfo.</p>
				<button app-button (click)="sysInfoService.querySysInfo()">Reload</button>
			</div>
		}
		@case ("success") {
			<div
				class="home-page__scroll-spy-trigger"
				id="home-page-sysinfo-section"
				[appScrollSpyTarget]="'home-page-sysinfo-section'"></div>
			<div app-sysinfo></div>
		}
	}
</div>
<div class="home-page__subnav-container">
	<div class="home-page__subnav">
		<button
			app-button
			class="home-page__subnav-item"
			size="m"
			[scrollContainer]="'body'"
			[appScrollTo]="'home-page-surf-forecast-section'"
			[ngClass]="{ active: (activeSectionId$ | async) === 'home-page-surf-forecast-section' }"
			type="button">
			<app-icon class="item-status-icon" name="Cloud" size="small"></app-icon>
		</button>
		<button
			app-button
			class="home-page__subnav-item"
			size="m"
			[scrollContainer]="'body'"
			[appScrollTo]="'home-page-recurrent-payments-section-payments'"
			[ngClass]="{ active: (activeSectionId$ | async) === 'home-page-recurrent-payments-section-payments' }"
			type="button">
			<app-icon class="item-status-icon" name="BanknoteArrowUp" size="small"></app-icon>
		</button>
		<button
			app-button
			class="home-page__subnav-item"
			size="m"
			[scrollContainer]="'body'"
			[appScrollTo]="'home-page-recurrent-payments-section-incomes'"
			[ngClass]="{ active: (activeSectionId$ | async) === 'home-page-recurrent-payments-section-incomes' }"
			type="button">
			<app-icon class="item-status-icon" name="BanknoteArrowDown" size="small"></app-icon>
		</button>
		<button
			app-button
			class="home-page__subnav-item"
			size="m"
			[scrollContainer]="'body'"
			[appScrollTo]="'home-page-sysinfo-section'"
			[ngClass]="{ active: (activeSectionId$ | async) === 'home-page-sysinfo-section' }"
			type="button">
			<app-icon class="item-status-icon" name="Info" size="small"></app-icon>
		</button>
	</div>
</div>
<nav app-navigation></nav>
