<header app-layout-header title="Profile"></header>
<div class="home-page__content">
	<h1 class="home-page__greeting">
		<span>👋 Hello, </span>
		<span class="home-page__username">{{ user()?.username || "" }}</span>
		<span>!</span>
	</h1>
	@if (user()?.id) {
		<p class="home-page__user-id">[{{ user()?.id }}]</p>
	}
	@switch (surfService.status()) {
		@case ("loading") {
			<div app-skeleton class="home-page__surf-skeleton-title"></div>
			<div app-skeleton class="home-page__surf-skeleton"></div>
		}
		@case ("error") {
			<div class="home-page__surf-error">
				<p>Failed to load surf report.</p>
				<button app-button (click)="surfService.querySurfReport()">Reload</button>
			</div>
		}
		@case ("success") {
			<div app-surf-forecast></div>
		}
	}
	@switch (recurrentService.status()) {
		@case ("loading") {
			<div app-skeleton class="home-page__sysinfo-skeleton-title"></div>
			<div app-skeleton class="home-page__sysinfo-skeleton"></div>
		}
		@case ("error") {
			<div class="home-page__sysinfo-error">
				<p>Failed to load recurrent payments.</p>
				<button app-button (click)="recurrentService.queryRecurrent()">Reload</button>
			</div>
		}
		@case ("success") {
			<div
				app-recurrent
				[dashboard]="recurrentService.dashboards()?.expenses ?? null"
				title="💸 Recurrent Payments"></div>
			<div
				app-recurrent
				[dashboard]="recurrentService.dashboards()?.incomes ?? null"
				title="💰 Recurrent Incomes"></div>
		}
	}
	@switch (sysInfoService.status()) {
		@case ("loading") {
			<div app-skeleton class="home-page__sysinfo-skeleton-title"></div>
			<div app-skeleton class="home-page__sysinfo-skeleton"></div>
		}
		@case ("error") {
			<div class="home-page__sysinfo-error">
				<p>Failed to load sysinfo.</p>
				<button app-button (click)="sysInfoService.querySysInfo()">Reload</button>
			</div>
		}
		@case ("success") {
			<div app-sysinfo></div>
		}
	}
</div>
<nav app-navigation></nav>
