@charset "UTF-8";

@use "./abstracts/typography" as *;
@use "./abstracts/layout" as *;
@use "./abstracts/media" as *;
@use "./abstracts/convert" as *;
@use "./mixins/mixins" as *;

* {
	@include scrollbars(rem(6px), var(--scrollbar-thumb), var(--scrollbar));
}

tui-root {
	--tui-font-sans: inherit !important;

	height: 100%;
	color: var(--text-primary) !important;
	background-color: var(--background-primary) !important;
}

html,
body {
	height: 100%;
	min-height: 100dvh;
	padding: 0;
	margin: 0;
	overflow: auto;
	color: var(--text-primary);
	background: var(--background-primary);
}

html {
	font-family: $base-font-family;
	font-weight: $font-weight-regular;

	@include media-mobile-only {
		font-size: 3.4vw;
	}

	@include media-tablet-only {
		font-size: 1.8vw;
	}
}
