@charset "UTF-8";

@use "./abstracts" as *;
@use "./mixins/mixins" as *;

* {
	@include scrollbars(rem(6px), var(--scrollbar-thumb), var(--scrollbar));
}

.progress {
	@include sizer(100%, rem(4px));
	@include z-index(progress);
	@include position(fixed, 0 auto auto 0);

	display: none;
	overflow: hidden;
	pointer-events: none;
	background-color: var(--divider-dark);

	&::before,
	&::after {
		@include sizer(33.33%, 100%);
		@include position(absolute, 0 100% auto auto);

		content: "";
		background-color: var(--tertiary);
		animation: progress 3s infinite $cb-transition;
	}

	&::after {
		animation-delay: 1.5s;
	}

	&--is-visible {
		display: block;
	}
}

tui-root {
	--tui-font-sans: inherit !important;
	--tui-text-primary: var(--text-primary);
	--tui-text-secondary: var(--text-secondary);

	height: 100%;
	color: var(--text-primary) !important;
	background-color: var(--background-primary) !important;
}

html,
body {
	height: 100%;
	min-height: 100dvh;
	padding: 0;
	margin: 0;
	overflow: auto;
	color: var(--text-primary);
	background: var(--background-primary);
}

html {
	font-family: $base-font-family;
	font-weight: $font-weight-regular;

	@include media-mobile-only {
		font-size: 3.4vw;
	}

	@include media-tablet-only {
		font-size: 1.8vw;
	}
}
