@charset "UTF-8";

@use "./abstracts/typography" as *;
@use "./abstracts/layout" as *;
@use "./abstracts/media" as *;

* {
	@include scrollbars(
		8px,
		var(--scrollbar),
		var(--scrollbar-track),
		var(--scrollbar-thumb),
		var(--scrollbar-thumb-border)
	);
}

html,
body {
	height: 100%;
	min-height: 100dvh;
	padding: 0;
	margin: 0;
	overflow: auto;
	color: var(--text-primary);
	background: var(--background-primary);
}

html {
	font-family: $base-font-family;
	font-weight: $font-weight-regular;

	@include media-mobile-only {
		font-size: 3.4vw;
	}

	@include media-tablet-only {
		font-size: 1.8vw;
	}
}
