@use "abstracts" as *;

@mixin page() {
	@include sizer(100%);
	@include z-index(default);
	@include m(0);

	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	padding-top: rem(70px);
	background-color: var(--background-content);
}

@mixin card() {
	@include justify-align-flex;
	@include border-radius($border-radius-x-small);

	flex-direction: column;
	background-color: var(--background-primary);
}

@mixin scrollbars($size: 6px, $thumb-color: var(--scrollbar-thumb), $track-color: var(--scrollbar)) {
	scrollbar-color: $thumb-color $track-color;
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		width: $size;
		height: $size;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $thumb-color;
		background-clip: content-box;
		border: 2px solid transparent;
		border-radius: 10px;
	}

	&::-webkit-scrollbar-track {
		background: $track-color;
		border-radius: 10px;
	}
}

@mixin tui-custom-input($size: "s", $input-width: 100%) {
	@include border-radius($border-radius-x-small);

	--tui-base-01: transparent;
	--tui-height-s: #{rem(24px)};
	--tui-height-m: #{rem(42px)};
	--tui-icon-size: #{rem(20px)};

	background: var(--control-background-primary);
	border: rem(1px) solid var(--control-border-primary);
	transition: $transition-color;

	&:focus-within {
		@include focus-outline(outline);
	}

	input {
		@include border-radius($border-radius-x-small);
		@include text-setting(base);
		@include text-overflow;

		@if $size == "s" {
			@include p(1, 2, 1, 1);

			height: rem(24px);
		} @else if $size == "m" {
			@include p(1, 2, 1, 0);

			height: rem(42px);
		}

		position: relative;
		width: $input-width;
		color: var(--control-primary);
		outline: none;
		background: transparent;
		border: none;
		box-shadow: none !important;
		transition: $transition-color;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			margin: 0;
			appearance: none;
		}

		&[type="number"] {
			appearance: textfield;
		}

		&::placeholder {
			color: var(--text-secondary);
			opacity: 70%;
		}
	}
}

@mixin tui-custom-combobox($size: "m", $input-width: 100%) {
	@include border-radius($border-radius-x-small);

	--tui-base-01: transparent;
	--tui-height-s: #{rem(25.2px)};
	--tui-height-m: #{rem(42px)};
	--tui-icon-size: #{rem(20px)};

	background: var(--control-background-primary);
	border: rem(1px) solid var(--control-border-primary);
	transition: $transition-color;

	&:focus-within {
		@include focus-outline(outline);
	}

	&:hover {
		tui-icon {
			color: var(--control-primary);
		}
	}

	tui-icon {
		margin-left: rem(12px);
	}

	input {
		@include border-radius($border-radius-x-small);
		@include text-setting(base);
		@include text-overflow;

		@if $size == "s" {
			@include p(1, 2);
		} @else if $size == "m" {
			@include p(1, 2, 1, 0);
		}

		position: relative;
		width: $input-width;
		color: var(--control-primary);
		outline: none !important;
		background: transparent;
		border: none;
		box-shadow: none !important;

		&::placeholder {
			color: var(--text-secondary);
			opacity: 70%;
		}
	}
}
