@use "abstracts" as *;

@mixin page() {
	@include sizer(100%);
	@include z-index(default);
	@include m(0);

	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-color: var(--background-content);
}

@mixin card() {
	@include justify-align-flex;
	@include border-radius($border-radius-x-small);

	flex-direction: column;
	background-color: var(--background-primary);
}
