@use "abstracts" as *;
@use "mixins" as *;

:host.icon {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: $transition-colors;

	&--size-x-small {
		@include sizer(rem(20px));
	}

	&--size-small {
		@include sizer(rem(36px));
	}

	&--size-medium {
		@include sizer(rem(40px));
	}

	&--size-large {
		@include sizer(rem(48px));
	}

	.icon-svg {
		&--size-x-small {
			@include sizer(rem(16px));
		}

		&--size-small {
			@include sizer(rem(20px));
		}

		&--size-medium {
			@include sizer(rem(24px));
		}

		&--size-large {
			@include sizer(rem(32px));
		}

		color: inherit;
		fill: currentcolor;
	}
}
