@charset "UTF-8";

@use "sass:map";
@use "sass:list";
@use "sass:color";

$colors: (
	monokai-light: (
		accent1: "#e14775",
		accent1-lighten: color.adjust(#e14775, $lightness: 20%),
		accent2: "#e16032",
		accent2-lighten: color.adjust(#e16032, $lightness: 20%),
		accent3: "#cc7a0a",
		accent3-lighten: color.adjust(#cc7a0a, $lightness: 20%),
		accent4: "#269d69",
		accent4-lighten: color.adjust(#269d69, $lightness: 20%),
		accent5: "#1c8ca8",
		accent5-lighten: color.adjust(#1c8ca8, $lightness: 20%),
		accent6: "#7058be",
		accent6-lighten: color.adjust(#7058be, $lightness: 20%),
		background: "#eee5e5",
		dark1: "#ded6d7",
		dark1-lighten: color.adjust(#ded6d7, $lightness: 5%),
		dark2: "#c1c0c0",
		dark2-lighten: color.adjust(#c1c0c0, $lightness: 5%),
		dimmed1: "#c1c0c0",
		dimmed2: "#939293",
		dimmed3: "#ded6d7",
		dimmed3-lighten: color.adjust(#ded6d7, $lightness: 20%),
		dimmed4: "#3f3a3a",
		dimmed5: "#939293",
		dimmed5-darken: color.adjust(#939293, $lightness: -10%),
		dimmed6: "#57534e",
		text: "#0f0f0f",
		text-darken: color.adjust(#0f0f0f, $lightness: -30%),
		text-lighten: color.adjust(#0f0f0f, $lightness: 30%),
		text-inversed: "#fcfcfa",
		text-error: "#e14775",
		text-success: "#269d69",
		chart1: "#e14775",
		chart2: "#e18a32",
		chart3: "#cc7a0a",
		chart4: "#269d69",
		chart5: "#1c8ca8",
		chart6: "#7058be",
		chart7: "#1c5ca8",
		chart8: "#1ca88e",
		chart9: "#8cc31a",
		chart10: "#be58b3",
		chart11: "#a83c1c",
		chart12: "#1c36a8",
		chart13: "#5a1ca8",
		chart14: "#1ca842",
		chart15: "#a88e1c",
		chart16: "#e17596",
		chart17: "#7596e1",
		chart18: "#96e175",
		chart19: "#e1c075",
		chart20: "#75e1c0",
	),
	monokai: (
		accent1: "#ff6188",
		accent1-lighten: color.adjust(#ff6188, $lightness: 20%),
		accent2: "#fc9867",
		accent2-lighten: color.adjust(#fc9867, $lightness: 20%),
		accent3: "#ffd866",
		accent3-lighten: color.adjust(#ffd866, $lightness: 20%),
		accent4: "#a9dc76",
		accent4-lighten: color.adjust(#a9dc76, $lightness: 20%),
		accent5: "#78dce8",
		accent5-lighten: color.adjust(#78dce8, $lightness: 20%),
		accent6: "#ab9df2",
		accent6-lighten: color.adjust(#ab9df2, $lightness: 20%),
		background: "#2d2a2e",
		dark1: "#221f22",
		dark1-lighten: color.adjust(#221f22, $lightness: 5%),
		dark2: "#19181a",
		dark2-lighten: color.adjust(#19181a, $lightness: 5%),
		dimmed1: "#c1c0c0",
		dimmed2: "#939293",
		dimmed3: "#727072",
		dimmed3-lighten: color.adjust(#727072, $lightness: 20%),
		dimmed4: "#5b595c",
		dimmed5: "#403e41",
		dimmed5-darken: color.adjust(#403e41, $lightness: -5%),
		dimmed6: "#57534e",
		text: "#fcfcfa",
		text-darken: color.adjust(#fcfcfc, $lightness: -40%),
		text-lighten: color.adjust(#fcfcfc, $lightness: 40%),
		text-inversed: "#0f0f0f",
		text-error: "#ff6188",
		text-success: "#a9dc76",
		chart1: "#ff6188",
		chart2: "#fc9867",
		chart3: "#ffd866",
		chart4: "#a9dc76",
		chart5: "#78dce8",
		chart6: "#ab9df2",
		chart7: "#7897e8",
		chart8: "#78e8c6",
		chart9: "#d9ff66",
		chart10: "#f29df2",
		chart11: "#ff9d9d",
		chart12: "#9dbef2",
		chart13: "#be9df2",
		chart14: "#9df29d",
		chart15: "#f2e39d",
		chart16: "#ff61d6",
		chart17: "#61afff",
		chart18: "#61ff97",
		chart19: "#ffbd61",
		chart20: "#61fff3",
	),
);

@function get($color, $shade) {
	@if ($color != "" and map.has-key($colors, $color)) {
		$palette: map.get($colors, $color);

		@if (map.has-key($palette, $shade)) {
			@return map.get($palette, $shade);
		} @else {
			@warn "Shade color `#{$shade}` not found in #{$palette}";

			@return map.get(map.get($colors, monokai), text);
		}
	} @else {
		@warn "Color palette `#{$color}` not found in $colors";

		@return map.get(map.get($colors, monokai), text);
	}
}
