@use "abstracts" as *;

:host(.header) {
	@include p(2);
	@include position(fixed, 0 auto auto auto);
	@include z-index(overlay);

	display: flex;
	flex-direction: column;
	gap: rem(24px);
	width: 100%;
	background-color: var(--background-content);
	border-bottom: 1px solid var(--tertiary);

	.header__container {
		@include justify-align-flex(center, center);

		gap: rem(32px);
	}

	.header__title {
		@include text-setting(xl);
	}

	.header__title-container {
		@include justify-align-flex(flex-start, center);

		flex: 1;
		flex-direction: row;
		gap: rem(12px);
	}

	.header__logo {
		@include sizer(48px);

		object-fit: contain;
	}
}
