@use "abstracts" as *;

:host(.header) {
	@include p(2);

	display: flex;
	flex-direction: column;
	gap: rem(24px);
	width: 100%;
	border-bottom: 1px solid var(--tertiary);

	.header__container {
		@include justify-align-flex(center, center);

		gap: rem(32px);
	}

	.header__title {
		@include text-setting(lg);
	}

	.header__title-container {
		@include justify-align-flex(flex-start, center);

		flex: 1;
		flex-direction: row;
	}
}
