@use "abstracts" as *;
@use "mixins" as *;

:host(.budgeting__overview) {
	position: relative;
	min-height: 100%;

	.budgeting__overview-content {
		@include card;
		@include m(3, 2, 2);

		justify-content: center;
	}

	.budgeting__category-list-row {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		width: 100%;
	}

	.budgeting__category-list-info {
		@include justify-align-flex(space-between, center);
	}

	.budgeting__category-info-category-value {
		font-family: monospace;
		font-weight: 500;
	}

	.budgeting__category-list-info-main {
		display: flex;
		gap: 0.75rem;
		align-items: center;
	}

	.budgeting__category-list-info-main > span {
		@include only(first) {
			font-weight: 600;
			color: var(--text-primary);
		}

		@include only(last) {
			@include border-radius($border-radius-small);
			@include text-setting(xs);
			@include p(0, 2);

			color: var(--text-primary);
			background: var(--dimmed6);
			border: rem(1px) solid var(--divider);
		}
	}

	.budgeting__category-list {
		@include justify-align-flex;
		@include p(2, 2, 3);

		flex-direction: column;
		gap: 1.25rem;
		width: 100%;
	}

	.budgeting__category-bar-container {
		width: 100%;
		height: 8px;
		background: var(--background-content-lighten);
		border-radius: 4px;
	}

	.budgeting__category-bar {
		height: 100%;
		border-radius: 4px;
		transition: width 0.8s cubic-bezier(0.4, 0, 0.2, 1);
	}

	.budgeting__overview-chart,
	.budgeting__overview-chart-trends {
		@include card;
		@include m(0);
		@include p(2);
		@include sizer(100%, rem(370px));

		justify-content: center;
		width: 100%;
	}

	.budgeting__overview-chart-trends {
		@include sizer(100%, rem(570px));
	}

	.budgeting__overview-content-row {
		@include justify-align-flex(space-between, flex-start);
		@include p(2, 2, 0);
		@include m(1, 0, 0);

		width: 100%;
	}

	.budgeting__overview-content-expand-button {
		margin: rem(8px) auto;
	}

	.budgeting__overview-content-col {
		@include justify-align-flex;

		flex-direction: column;
	}

	.budgeting__overview-content-col > span {
		@include only(first) {
			@include text-setting(base);
		}

		@include only(last) {
			@include text-setting(sm);

			color: var(--text-secondary);
		}
	}

	.budgeting__overview-content-col-description span {
		@include mr(1);
		@include text-setting(base);

		@include only(last) {
			color: var(--text-secondary);
		}
	}

	.budgeting__overview-content-col-amount {
		@include text-setting(base);
	}

	.budgeting__overview-content-expand {
		width: 100%;
	}

	.budgeting__overview-content-header {
		@include justify-align-flex;
		@include pt(2);

		flex-direction: column;
	}

	.budgeting__overview-content-header-title,
	.budgeting__overview-content-header-month,
	.budgeting__overview-content-header-info {
		width: 100%;
		text-align: center;
	}

	.budgeting__overview-content-header-title {
		@include text-setting(xl);
	}

	.budgeting__overview-content-card-title {
		@include text-setting(md);
		@include m(2, 2, 0);

		text-align: start;
	}

	.budgeting__overview-content-card-subtitle {
		@include text-setting(base);
		@include m(0, 0, 0, 2);

		color: var(--text-secondary);
		text-align: start;
	}

	.budgeting__overview-content-header-info {
		@include justify-align-flex(center, center);
		@include text-setting(sm);

		gap: rem(8px);
	}

	.budgeting__overview-content-header-month {
		@include text-setting(sm);

		color: var(--text-secondary);
	}

	.budgeting__overview-skeleton-title {
		@include sizer(rem(120px), rem(44px));
		@include m(2, auto);
	}

	.budgeting__overview-skeleton-header {
		@include sizer(rem(300px), rem(40px));
		@include m(2, auto);
	}

	.budgeting__overview-skeleton-content-transactions,
	.budgeting__overview-skeleton-content-chart,
	.budgeting__overview-skeleton-content-chart-trends {
		@include sizer(100%, rem(374px));
		@include mb(2);
		@include px(2);
	}

	.budgeting__overview-skeleton-content-chart,
	.budgeting__overview-skeleton-content-chart-trends {
		@include sizer(100%, rem(438px));
	}

	.budgeting__overview-skeleton-content-categories {
		@include sizer(100%, rem(488px));
	}

	.budgeting__overview-skeleton-content-chart-trends {
		@include sizer(100%, rem(638px));
	}

	.budgeting__overview-error {
		@include justify-align-flex(center, center);
		@include mt(2);

		flex-direction: column;
		gap: rem(18px);
	}
}
