@use "abstracts" as *;
@use "mixins" as *;

:host(.budgeting__overview) {
	position: relative;
	min-height: 100%;

	.budgeting__overview-content {
		@include card;
		@include m(3, 2, 2);

		justify-content: center;
	}

	.budgeting__overview-chart,
	.budgeting__overview-chart-trends {
		@include card;
		@include m(0);
		@include p(2);
		@include sizer(100%, rem(370px));

		justify-content: center;
		width: 100%;
	}

	.budgeting__overview-chart-trends {
		@include sizer(100%, rem(570px));
	}

	.budgeting__overview-content-header {
		@include justify-align-flex;
		@include pt(2);

		flex-direction: column;
	}

	.budgeting__overview-content-header-title,
	.budgeting__overview-content-header-month,
	.budgeting__overview-content-header-info {
		width: 100%;
		text-align: center;
	}

	.budgeting__overview-content-header-title {
		@include text-setting(xl);
	}

	.budgeting__overview-content-card-title {
		@include text-setting(md);
		@include m(2, 2, 0);

		text-align: start;
	}

	.budgeting__overview-content-card-divider {
		@include m(0, 2);

		width: calc(100% - rem(16px));
		height: rem(1px);
		border-bottom: rem(2px) solid var(--secondary);
	}

	.budgeting__overview-content-card-subtitle {
		@include text-setting(base);
		@include m(0, 0, 0, 2);

		color: var(--secondary);
		text-align: start;
	}

	.budgeting__overview-content-header-info {
		@include justify-align-flex(center, center);
		@include text-setting(sm);

		gap: rem(8px);
	}

	.budgeting__overview-content-header-month {
		@include text-setting(sm);

		color: var(--text-secondary);
	}

	.budgeting__overview-skeleton-title {
		@include sizer(rem(120px), rem(44px));
		@include m(2, auto);
	}

	.budgeting__overview-skeleton-header {
		@include sizer(rem(300px), rem(40px));
		@include m(2, auto);
	}

	.budgeting__overview-skeleton-content-chart,
	.budgeting__overview-skeleton-content-chart-trends {
		@include sizer(100%, rem(438px));
		@include mb(2);
		@include px(2);
	}

	.budgeting__overview-skeleton-content-chart-trends {
		@include sizer(100%, rem(638px));
	}

	.budgeting__overview-error {
		@include justify-align-flex(center, center);
		@include mt(2);

		flex-direction: column;
		gap: rem(18px);
	}
}
