@use "abstracts" as *;
@use "mixins" as *;

:host(.budgeting__overview) {
	position: relative;
	min-height: 100%;

	.budgeting__overview-content {
		@include card;
		@include m(3, 2, 2);

		justify-content: center;
	}

	.budgeting__overview-content-row {
		@include justify-align-flex(space-between, flex-start);
		@include p(2);
		@include m(1, 0, 0, 0);

		width: 100%;
	}

	.budgeting__overview-content-expand-button {
		margin: rem(8px) auto;
	}

	.budgeting__overview-content-col {
		@include justify-align-flex;

		flex-direction: column;
		gap: rem(6px);
	}

	.budgeting__overview-content-col > span {
		@include only(first) {
			@include text-setting(base);
		}

		@include only(last) {
			@include text-setting(sm);

			color: var(--text-secondary);
		}
	}

	.budgeting__overview-content-col-description span {
		@include mr(1);
		@include text-setting(base);

		@include only(last) {
			color: var(--text-secondary);
		}
	}

	.budgeting__overview-content-col-amount {
		@include text-setting(base);
	}

	.budgeting__overview-content-expand {
		width: 100%;
	}

	.budgeting__overview-content-header {
		@include justify-align-flex;
		@include pt(2);

		flex-direction: column;
	}

	.budgeting__overview-content-header-title,
	.budgeting__overview-content-header-month,
	.budgeting__overview-content-header-info {
		width: 100%;
		text-align: center;
	}

	.budgeting__overview-content-header-title {
		@include text-setting(xl);
	}

	.budgeting__overview-content-header-info {
		@include justify-align-flex(center, center);
		@include text-setting(sm);

		gap: rem(8px);
	}

	.budgeting__overview-content-header-month {
		@include text-setting(sm);

		color: var(--text-secondary);
	}

	.budgeting__overview-skeleton-title {
		@include sizer(rem(120px), rem(48px));
		@include m(2, auto);
	}

	.budgeting__overview-skeleton-header {
		@include sizer(rem(280px), rem(40px));
		@include m(2, auto);
	}

	.budgeting__overview-skeleton-content-transactions {
		@include sizer(100%, rem(300px));
		@include mb(2);
	}

	.budgeting__overview-error {
		@include justify-align-flex(center, center);
		@include mt(2);

		flex-direction: column;
		gap: rem(18px);
	}
}
