@switch (service.status()) {
	@case ("loading") {
		<div app-skeleton class="budgeting__overview-skeleton-title"></div>
		<div app-skeleton class="budgeting__overview-skeleton-header"></div>
	}
	@case ("error") {
		<div class="budgeting__overview-error">
			<p>Failed to load budgeting data.</p>
			<button app-button (click)="service.query()">Try again</button>
		</div>
	}
	@case ("success") {
		@let data = service.overview()!;

		<div class="budgeting__overview-content-header">
			<h2
				class="budgeting__overview-content-header-title"
				[style.color]="data.monthBalance >= 0 ? 'var(--text-success)' : 'var(--text-error)'">
				{{ data.monthBalance | currency: data.currency : "symbol" : "1.2-2" }}
			</h2>
			<div class="budgeting__overview-content-header-info">
				<span>Income:</span>
				<b [style.color]="'var(--text-success)'">+{{ data.monthIncome | currency: data.currency }}</b>
				<span>Spending:</span>
				<b [style.color]="'var(--text-error)'">-{{ data.monthSpending | currency: data.currency }}</b>
			</div>
			<span class="budgeting__overview-content-header-month">for {{ transformMonth(data.month) }}</span>
		</div>
	}
}

<div app-budgeting-transactions></div>
<div app-budgeting-categories-ranking [title]="transformMonth(currentMonthIndex())"></div>

<div class="budgeting__overview-content">
	@if (service.status() === "success" && monthlyBreakdownData() && monthlyBreakdownOptions()) {
		<h2 class="budgeting__overview-content-card-title">Monthly spending breakdown</h2>
		<span class="budgeting__overview-content-card-subtitle">{{ transformMonth(currentMonthIndex()) }}</span>
		<div
			app-chart
			class="budgeting__overview-chart"
			type="doughnut"
			[config]="monthlyBreakdownData()!"
			[options]="monthlyBreakdownOptions()!"></div>
	} @else if (service.status() === "loading") {
		<div app-skeleton class="budgeting__overview-skeleton-content-chart"></div>
	}
</div>

<div class="budgeting__overview-content">
	@if (service.status() === "success" && yearlyOverviewData() && yearlyOverviewOptions()) {
		<h2 class="budgeting__overview-content-card-title">Yearly overview</h2>
		<span class="budgeting__overview-content-card-subtitle">{{ yearlyOverviewDataYear() }}</span>
		<div
			app-chart
			class="budgeting__overview-chart"
			type="bar"
			[config]="yearlyOverviewData()!"
			[options]="yearlyOverviewOptions()!"></div>
	} @else if (service.status() === "loading") {
		<div app-skeleton class="budgeting__overview-skeleton-content-chart"></div>
	}
</div>

<div class="budgeting__overview-content">
	@if (service.status() === "success" && yearlyTrendsData() && yearlyTrendsOptions()) {
		<h2 class="budgeting__overview-content-card-title">Yearly spending trends</h2>
		<span class="budgeting__overview-content-card-subtitle">{{ yearlyOverviewDataYear() }}</span>
		<div
			app-chart
			class="budgeting__overview-chart-trends"
			type="bar"
			[config]="yearlyTrendsData()!"
			[options]="yearlyTrendsOptions()!"></div>
	} @else if (service.status() === "loading") {
		<div app-skeleton class="budgeting__overview-skeleton-content-chart-trends"></div>
	}
</div>
