@use "abstracts" as *;

:host(.navigation) {
	@include justify-align-flex(flex-start, center);
	@include position(fixed, auto auto 0 0);
	@include m(0);
	@include p(3);
	@include sizer(100%, rem(74px));
	@include z-index(navbar);

	display: grid;
	grid-auto-columns: max-content;
	grid-auto-flow: column;
	gap: rem(16px);
	background-color: var(--background-primary);
	border-top: 1px solid var(--tertiary);

	.navigation__item {
		display: inline-flex;
		justify-content: center;
		width: fit-content;
	}
}
