@use "abstracts" as *;
@use "mixins" as *;

:host(.skeleton) {
	@include border-radius($border-radius-x-small);
	@include justify-align-flex;

	flex-direction: column;
	overflow: hidden;

	.skeleton__card {
		@include sizer(100%);

		background: var(--skeleton-shimmer-1);
		background-size: 200% 100%;
		animation: shimmer 1.5s linear infinite;
	}
}
