:host {
	--bright-blue: oklch(51.01% 0.274 263.83);
	--electric-violet: oklch(53.18% 0.28 296.97);
	--french-violet: oklch(47.66% 0.246 305.88);
	--vivid-pink: oklch(69.02% 0.277 332.77);
	--hot-red: oklch(61.42% 0.238 15.34);
	--orange-red: oklch(63.32% 0.24 31.68);

	--gray-900: oklch(19.37% 0.006 300.98);
	--gray-700: oklch(36.98% 0.014 302.71);
	--gray-400: oklch(70.9% 0.015 304.04);

	--red-to-pink-to-purple-vertical-gradient: linear-gradient(
		180deg,
		var(--orange-red) 0%,
		var(--vivid-pink) 50%,
		var(--electric-violet) 100%
	);

	--red-to-pink-to-purple-horizontal-gradient: linear-gradient(
		90deg,
		var(--orange-red) 0%,
		var(--vivid-pink) 50%,
		var(--electric-violet) 100%
	);

	--pill-accent: var(--bright-blue);

	box-sizing: border-box;
	font-family:
		Inter,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Segoe UI Symbol";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	margin: 0;
	font-family:
		"Inter Tight",
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Segoe UI Symbol";
	font-size: 3.125rem;
	font-weight: 500;
	line-height: 100%;
	color: var(--gray-900);
	letter-spacing: -0.125rem;
}

p {
	margin: 0;
	color: var(--gray-700);
}

profile-page {
	position: relative;
	box-sizing: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 100%;
	padding: 1rem;
}

.angular-logo {
	max-width: 9.2rem;
}

.content {
	display: flex;
	justify-content: space-around;
	width: 100%;
	max-width: 700px;
	margin-bottom: 3rem;
}

.content h1 {
	margin-top: 1.75rem;
}

.content p {
	margin-top: 1.5rem;
}

.divider {
	width: 1px;
	margin-inline: 0.5rem;
	background: var(--red-to-pink-to-purple-vertical-gradient);
}

.pill-group {
	display: flex;
	flex-flow: column wrap;
	gap: 1.25rem;
	align-items: start;
}

.pill {
	display: flex;
	align-items: center;
	padding-block: 0.375rem;
	padding-inline: 0.75rem;
	font-family: var(--inter-font);
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.4rem;
	color: var(--pill-accent);
	letter-spacing: -0.0088rem;
	white-space: nowrap;
	text-decoration: none;
	background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
	border: 0;
	border-radius: 2.75rem;
	transition: background 0.3s ease;
	--pill-accent: var(--bright-blue);
}

.pill:hover {
	background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
}

.pill-group .pill:nth-child(6n + 1) {
	--pill-accent: var(--bright-blue);
}

.pill-group .pill:nth-child(6n + 2) {
	--pill-accent: var(--electric-violet);
}

.pill-group .pill:nth-child(6n + 3) {
	--pill-accent: var(--french-violet);
}

.pill-group .pill:nth-child(6n + 4),
.pill-group .pill:nth-child(6n + 5),
.pill-group .pill:nth-child(6n + 6) {
	--pill-accent: var(--hot-red);
}

.pill-group svg {
	margin-inline-start: 0.25rem;
}

.social-links {
	display: flex;
	gap: 0.73rem;
	align-items: center;
	margin-top: 1.5rem;
}

.social-links path {
	fill: var(--gray-400);
	transition: fill 0.3s ease;
}

.social-links a:hover svg path {
	fill: var(--gray-900);
}

@media screen and (width <= 650px) {
	.content {
		flex-direction: column;
		width: max-content;
	}

	.divider {
		width: 100%;
		height: 1px;
		margin-block: 1.5rem;
		background: var(--red-to-pink-to-purple-horizontal-gradient);
	}
}
