@use "abstracts" as *;
@use "mixins" as *;

:host(.login-page) {
	@include page;
	@include fullscreen-box;

	.login-page__main {
		@include fullscreen-box-content;
	}

	.login-page__container {
		@include justify-align-flex(center, center);
		@include sizer(100%);

		flex-direction: row;
		gap: rem(16px);
	}

	.login-page__code {
		@include justify-align-flex;
		@include pr(3);

		flex-direction: column;
		gap: rem(16px);
		border-right: rem(2px) solid var(--accent1);
	}

	.login-page__code-text {
		@include text-setting(xl);
	}

	.login-page__message {
		max-width: rem(300px);
	}

	.login-page__message-text {
		@include text-setting(lg);
	}

	.login-page__footnote-text {
		@include text-setting(sm);
		@include mb(2);
	}

	.login-page__message-text,
	.login-page__footnote-text {
		text-align: start;
	}
}
