@charset "UTF-8";

@use "sass:map";
@use "sass:meta";
@use "sass:list";
@use "sass:math";

@function validate-length($value) {
	$list: ("auto", "inherit", "initial", 0);

	@if list.index($list, $value) {
		@return $value;
	} @else if meta.type-of($value) == "number" and not math.unitless($value) {
		@return $value;
	} @else {
		@warn 'Please pass some values with unit like `#{$value}px`, `#{$value}em`, or `#{$value}%` etc. or pass one of the following arguments: `auto`, ìnherit`, ìnitial` or `0`.';

		@return $value;
	}
}

@function shorthand-property($value) {
	@if list.length($value) == 1 {
		@return list.nth($value, 1) list.nth($value, 1) list.nth($value, 1) list.nth($value, 1);
	} @else if list.length($value) == 2 {
		@return list.nth($value, 1) list.nth($value, 2) list.nth($value, 1) list.nth($value, 2);
	} @else if list.length($value) == 3 {
		@return list.nth($value, 1) list.nth($value, 2) list.nth($value, 3) list.nth($value, 2);
	} @else if list.length($value) == 4 {
		@return list.nth($value, 1) list.nth($value, 2) list.nth($value, 3) list.nth($value, 4);
	} @else if list.length($value) > 4 {
		@error "You've passed #{length($value)} arguments. Please do not pass more than 4.";
	}
}

@function null($value, $seperation: comma, $skip: false) {
	$list: ();
	@for $i from 1 through list.length($value) {
		/* stylelint-disable-next-line scss/at-if-no-null */
		@if list.nth($value, $i) == null {
			$list: list.append($list, if($skip, null, 0), $seperation);
		} @else {
			$list: list.append($list, list.nth($value, $i), $seperation);
		}
	}

	@return $list;
}

@function convertToNumber($value) {
	$string-numerals: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
	$calc: 0;

	@for $i from 1 through string.length($value) {
		$digit: string.slice($value, $i, $i);
		$index-of-digit: list.index($string-numerals, $digit);
		$actual-digit: $index-of-digit - 1;
		$calc: $calc * 10 + $actual-digit;
	}

	@return $calc;
}
