@use "abstracts" as *;
@use "mixins" as *;

:host(.budgeting-page) {
	@include page;

	height: auto;

	.budgeting-page__content {
		@include p(2, 2, 7);

		display: flex;
		flex-direction: column;
		min-height: 100%;
		background-color: var(--background-content);
	}

	.budgeting-page__tabs {
		@include sizer(100%, auto);
		@include p(3, 3, 0);
		@include position(fixed, auto auto 80px auto);
		@include z-index(navbar-extension);

		background-color: var(--background-primary);
		border-top: 1px solid var(--tertiary);
		border-bottom: 1px solid var(--background-primary);
	}
}
