@use "abstracts" as *;
@use "mixins" as *;

:host(.budgeting-page) {
	@include page;

	height: auto;

	.budgeting-page__content {
		@include p(2, 2, 6);

		display: flex;
		flex-direction: column;
		min-height: 100%;
		background-color: var(--background-content);
	}
}
